/*THEOBAR*/


#panel{
	border-radius: 7px;
	margin-top: 10px;
	margin-bottom: 3px;
	margin-left: 150px;
	margin-right: 150px;
	height: 40px;
}

#panel #panelActivities.panel-button {
  -natural-hpadding: 12px; }

#panel .panel-button#panelActivities {
  background-image: url("assets/activities.svg");
  background-position: center top;
  background-size: auto; 
  color: transparent;
  background-color: transparent;
  box-shadow: none;
}

#panel .panel-button#panelActivities > * {
  width: 24px;
}

Gjs_ui_panel_AggregateMenu.panel-button{
	color: #000000;
	/*background-color: rgba(232,191,24,1);  */
	background-color: rgba(256,256,256,1);
	/*background-color: rgba(221,153,153,1); */ 
	border-color: black;
	border: 5px;
	border-radius: 7px;
}

